body {
    font-family: 'Nunito', sans-serif;
}


.menu-items {
    font-size: large;
    font-weight: bold;
}
.h-150 {
    height: 150px !important;
}
.liste {
    position: relative;
    top: 25%;
    font-size: large;
    font-weight: bold;
}

.recherche{
    position: relative;
    top: 30px;
    right: 10px;
}
.nav-wrapper li a:hover, #mobile-demo li a:hover {
    background: #45a8f8;
    color: #fff !important;
    text-decoration: none;
}

.m25{
    margin:0 150px;

}
.page-footer{
    background:#2d7cf5;
}